.App {
  text-align: center;
  overflow: hidden;
}

.App-header,
.App-footer {
    display: flex;
    flex-direction: column;
}

.App-header {
  min-height: 35vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3d5afe;
}

.App-footer {
    min-height: 65vh;
    align-items: center;
    justify-content: flex-end;
}

.App-footer img {
    width: 585px;
}

.App-link,
a {
  color: #17a2b8;
}
.App-container {
  margin-top: 7rem;
}
a:hover {
  text-decoration: none;
  color: #17a2b8;
}
.close {
  color: white !important;
  text-shadow: none !important;
}
.modal-dialog {
    max-width: 900px;
    min-height: 35vh;
    margin: 3rem auto;
}
.modal-content {
  border: none !important;
  min-height: 35vh !important;
}
